.dailyActivity{
    background-color: #FBFBFB;
    border-radius: 5px;
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .topGraphique{
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
        font-style: normal;
        font-size: 15px;
        .legende{
            display: flex;
            width: 20em;
            justify-content: space-between;
            .legende_poids{
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 500;
                font-style: normal;
                font-size: 14px;
                color: #74798C;

                span{
                    background-color: black;
                    height: 8px;
                    width: 8px;
                    border-radius: 50px;
                    margin-right: 0.5rem;
                }

                p{
                    
                }
            }
            .legende_calorie{
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 500;
                font-style: normal;
                font-size: 14px;
                color: #74798C;

                span{
                    background-color: #E60000;
                    height: 8px;
                    width: 8px;
                    border-radius: 50px;
                    margin-right: 0.5rem;
                }
            }
        }
    }
    .recharts-responsive-container{
        .recharts-wrapper{
            .recharts-tooltip-wrapper{
                .tooltip{
                    width: 39px;
                    height: 63px;
                    background-color: #E60000;
                    display: flex;
                    flex-direction: column;
                    color: white;
                    justify-content: space-around;
                    align-items: center;
                    font-weight: 500;
                    font-size: 7px;
                }
            }
        }
    }
}