.sessionDuration{
    background-color: #FF0000;
    border-radius: 5px;
    max-width: 30%;
    width: 258px;
    height: 263px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    .topGraphique{
        margin-right: 3rem;
        max-width: 147px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
        font-style: normal;
        font-size: 15px;
        line-height: 24px;
        color: #FFFFFF;
        
    }
    .recharts-responsive-container{
        height: 60%;
        .recharts-wrapper{
            .recharts-surface{
                .day{
                    padding: 20px;
                }
            }
            .recharts-tooltip-wrapper{
                .tooltip{
                    width: 39px;
                    height: 25px;
                    background-color: white;
                    display: flex;
                    flex-direction: column;
                    color: black;
                    justify-content: space-around;
                    align-items: center;
                    font-weight: 500;
                    font-size: 7px;
                }
            }
        }
    }

}