@import "../component/dailyActivity";
@import "../component/keyData";
@import "../component/titla";
@import "../component/radarAnalyse";
@import "../component/radialBarChart";
@import "../component/sessionDuration";
@import "../component/vignette";


header {
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        -webkit-box-shadow: 0px 6px 0px -1px rgba(0,0,0,0.12); 
        box-shadow: 0px 6px 0px -1px rgba(0,0,0,0.12);
        img{
            margin-left: 2rem;
        }

        ul {
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: white;
            margin-right: 3rem;

            li{
                text-decoration: none;
                list-style: none;
                font-weight: 500;
                font-size: 24px;
                cursor: pointer;
            }
        }
    }

    .navTop{
        width: 100%;
        height: 91px;
        background: #020203;
    }
}

.container{
    display: flex;
    height: 120vh;

    .navLeft{
        width: 91px;
        height: calc(100vh - 91px);
        background: #020203;
        margin-right: 5rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

        .copiryght{
            margin: 0;
            color: white;
            transform: rotate(-90deg);
            width: 15rem;
            margin-top: 10rem;
            font-style: normal;
            font-size: 12px;
        }
    }

    .sectionLeft{
        height: calc(100vh - 91px);

        .smallAnalyse {
            width: 835px;
            display: flex;
            justify-content: space-between;
            margin-top: 2rem;
        }
    }

    .sectionRight{
        margin-top: 15em;
        height: 37em;
        width: 300px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include keyData;
    }
    
}



@media screen and (max-width: 1500px){
    .container{
        .navLeft{
            height: 60em;
        }

    }
}

@media screen and (max-width: 1024px){
    .container{
        .navLeft{
            height: calc(100vh - 91px);
        }

    }
}

